.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  
}

.services-tittle > u{
  color: darkorange;
  text-decoration: none;
}

.services-tittle{

  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 65px;
  margin-bottom: 20px;
}

.banner h1{
  font-size: 50px;
  margin: 20px;

}

.banner p{
  font-size: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
.banner .button{
    color: white;
    padding: 9px 20px;
    text-transform: uppercase;
    border: 1px solid #fff;
}

.banner .button:hover{
  font-weight: 500;
  background-color: yellow;
  color: black;
  border: yellow;
}

 .banner{
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url(../src/imagenes/White\ Minimal\ Construction\ Company\ Banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
 }

 .capa{
  width: 100%;
  height: 100%;
  
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.152);

 }

 .contenido{
  margin: auto;
  padding: 0;
  width: 80%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: none;

 }

 .servicios{
  display: inline-block;
  width: 30%;
  margin: 10px 5px;
 }

 .servcontainer{
  width: 90%;
  margin-left: auto;
  
  height: 700px;
 }


 h2{
  text-align: center;
  font-size: 30px;
 }

 h3{
  font-size: 25px;
 }



 .content{
  text-align: center;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: darkgray;
  overflow: hidden;

 }

 .imgservicio{
  width: 100%;
 }

 .servtext{
  margin-bottom: 30px;
 }

 
.our-services{
  margin-bottom: 300px;
}

 /*footer*/

 


 footer{
  
  margin-top: auto;
  background-color: rgb(16, 16, 16);
  

  
  color: #fff;
  
 }

 /*primera linea del footer*/
 .footer-primerafila{
display: flex;
justify-content: space-evenly;
border-bottom: solid 1px #8686866f;
height: 100px;

 }


 .footer-cuadro-icono{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: auto;
  margin-top: auto;
  border-right: solid 1px #8686866f;
  padding-right: 15px;

 }

 .footer-icono {
  margin-bottom: auto;
  margin-top: auto;

 }


 .footer-icono > img{
  
height: 60px;
 }

 .footer-cuadro-texto{
color: #fff;
margin-bottom: auto;
  margin-top: auto;
 }

 .footer-titulo{
color: #fff;
margin-bottom: auto;
  margin-top: auto;
 }

 .footer-texto{
color: #fff;
margin-bottom: auto;
  margin-top: auto;
 }

 /*segunda linea del footer*/

 .footer-segundafila{
  display: flex;
  justify-content: space-evenly;
  height: 160px;
 }

 .segundafila-titulo{
color: #fff;
margin-bottom: auto;
  margin-top: auto;
 }

 .segundafila-cuadro{
color: #fff;
margin-bottom: auto;
  margin-top: auto;
 }

 .segundafila-texto{
color: #fff;
margin-bottom: auto;
  margin-top: auto;
 }

 .footer-contacto{
  color: #fff;
  margin-bottom: auto;
  margin-top: auto;

 }
 

 .icono-footer-contacto{
   color: #fff;
   margin-bottom: auto;
  margin-top: auto;

 }

.texto-footer-contacto{
  color: #fff;
  margin-bottom: auto;
  margin-top: auto;

 }




 /*  tercera linea del footer */
 .footer-tercerafila{
display: flex;
justify-content: space-evenly;
height: 60px;

 }

 .footer-about-espacio{
  margin-bottom: auto;
  margin-top: auto;

 }

 .footer-about{
  margin-bottom: auto;
  margin-top: auto;

 }

 .footer-redes {
height: 40px;
margin-bottom: auto;
margin-top: auto;
display: flex;
  justify-content: space-evenly;

 }

.footer-redes > img{
  height: 40px;
}