.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  
}



.banner h1{
  font-size: 50px;
  margin: 20px;

}

.banner p{
  font-size: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
.banner .button{
    color: white;
    padding: 9px 20px;
    text-transform: uppercase;
    border: 1px solid #fff;
}

.banner .button:hover{
  font-weight: 500;
  background-color: yellow;
  color: black;
  border: yellow;
}

 .banner{
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url(../src/imagenes/White\ Minimal\ Construction\ Company\ Banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  margin-top: 90px;
 }

 .capa{
  width: 100%;
  height: 100%;
  
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.152);

 }

 .contenido{
  margin: auto;
  padding: 0;
  width: 80%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: none;

 }
 
 
 
 .services-tittle > u{
  color: darkorange;
  text-decoration: none;
}

.services-tittle{

  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 65px;
  margin-bottom: 20px;
}

 .servicios{
  display: inline-block;
  width: 30%;
  margin: 10px 5px;
 }




 .servcontainer{
  width: 90%;
  margin-left: auto;
  
  
 }


 h2{
  text-align: center;
  font-size: 30px;
  font-family: 'Lora', serif;
 }

 h3{
  font-size: 25px;
  font-family: 'Lora', serif;
 }

 h5{
  font-family: 'Lora', serif;
  font-size: 20px;
 }


 .content{
  text-align: center;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: darkgray;
  overflow: hidden;

 }

 .imgservicio{
  width: 100%;
 }

 .servtext{
  margin-bottom: 30px;
 }

 
.our-services{
 /* margin-bottom: 300px;*/
}


  /*servicios*/
  

   .content{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: darkgray;
    overflow: hidden;
  
   }


/*contactanos*/
  




 
/*
.inicio{


}

*/



/*quienes somos*/




:root {
  --main-bg : hsl(233, 47%, 7%);
  --card-bg: hsl(0, 0%, 0%);
  --accent: hsl(34, 93%, 45%);

  --white: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-heading: hsla(0, 0%, 100%, 0.6);
  
  
  /* font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif; */
}

/* REGLAS GENERALES */

.quienes_somos_img {
  width: 100%;
  height: 100%;
}

.card__info__title {
  
  color: var(--white);
}



.aboutus_p {
  font-family: var(--font-inter);
  color: var(--main-paragraph);
}

small {
  font-family: var(--font-lexend);
  color: var(--stat-heading);
}


/* FIN DE REGLAS GENERALES */




.cnt {
  background-color: var(--main-bg);
  min-height: 90vh;
  display: grid;
  place-items: center;
  
}

.card {
  background-color: var(--card-bg);
  width: 90%;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card-opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  
  opacity: .4;
}

.card__info {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__info > p {
  line-height: 1.5rem;
}

.card__info__title {
  font-size: 1.5rem;
}

.card__info__title > span {
  color: var(--accent);
}

.card__metrics {
  padding: 1rem 0;
}

.card__metrics__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list__items {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.list__items > p {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 700;
}

.list__items > small {
  letter-spacing: 2px;
  font-size: .7rem;
}

@media (min-width: 900px) {
  /* Escribe tu codigo debajo */
  
  
  
  .card__img {
    width: 45%;
}
.card {
  flex-direction: row-reverse;
}
.card__info {
  width: 55%;
}
.card__metrics__list {
  margin-top: 20px;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-evenly;
}
.card__info__title {
  font-size: 2.8rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
p{
  font-size: 1.18rem;
}


/*formulario responsive*/

.contactanos {
  background-color: rgb(195, 195, 195);
  min-height: 100vh;
  display: grid;
  place-items: center;
  
}

.formulario{
  color: #fff;
  background-color: rgb(44, 51, 69);
  width: 60% !important;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 10px;
}



.titulo{
  color: #fff;
  text-align: center;
  padding: 30px;
  border-bottom: solid 2px rgb(24, 31, 49);
}
.titulo > h1{
  color: #ffffff;
  font-size: 2rem;

}

.titulo > p{
  color: #ffffff;
  font-size: 1.2rem;

}

.campos{
  color: #fff;
}




.form-group{
  color: #fff;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

.form-inputs{
  width: 50%
}

.form-input-text{
  width: 100%
}

.form-inputs >input{
  width: 90%;
  height: 30px;
}
.form-inputs-dobles{
  display: flex;
  width: 100%;
 
}

.input-doble{
  width: 100%;
}

.input-doble > input{
  width: 90%;
  height: 30px;
}

label{
  
    color: #b2b2b2;
  
}
input{
  background-color: rgb(31, 36, 55);
  border: solid 1px rgb(24, 31, 49);
  color: white;
}

textarea{
  background-color: rgb(31, 36, 55);
  border: solid 1px rgb(24, 31, 49);
  color: #fff;
  width: 100%;
  height: 110px;
}

.btn-primary{
  color: #fff;  
padding:  10px 50px ;
background-color:rgb(31, 36, 55); 
border: solid 1px rgb(24, 31, 49);
margin-bottom: 20px;
margin-top: 20px;
}
.btn-enviar{
  text-align: center;
  border-top: solid 2px rgb(24, 31, 49);
}



  
}

/*formulario */

.contactanos {
  background-color: rgb(195, 195, 195);
  min-height: 100vh;
  display: grid;
  place-items: center;
  
}

.formulario{
  color: #fff;
  background-color: rgb(44, 51, 69);
  width: 90%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 10px;
}



.titulo{
  color: #fff;
  text-align: center;
  padding: 30px;
  border-bottom: solid 2px rgb(24, 31, 49);
}
.titulo > h1{
  color: #ffffff;
  font-size: 2rem;

}

.titulo > p{
  color: #ffffff;
  font-size: 1.2rem;

}

.campos{
  color: #fff;
}




.form-group{
  color: #fff;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

.form-inputs{
  width: 50%
}

.form-input-text{
  width: 100%
}

.form-inputs >input{
  width: 90%;
  height: 30px;
}
.form-inputs-dobles{
  display: flex;
  width: 100%;
 
}

.input-doble{
  width: 100%;
}

.input-doble > input{
  width: 90%;
  height: 30px;
}

label{
  
    color: #b2b2b2;
  
}
input{
  background-color: rgb(31, 36, 55);
  border: solid 1px rgb(24, 31, 49);
  color: white;
}

textarea{
  background-color: rgb(31, 36, 55);
  border: solid 1px rgb(24, 31, 49);
  color: #fff;
  width: 100%;
  height: 110px;
}

.btn-primary{
  color: #fff;  
padding:  10px 50px ;
background-color:rgb(31, 36, 55); 
border: solid 1px rgb(24, 31, 49);
margin-bottom: 20px;
margin-top: 20px;
}
.btn-enviar{
  text-align: center;
  border-top: solid 2px rgb(24, 31, 49);
}